.adr_page {
    width: max-content;
    display: flex;
    margin-bottom: 10px;

    * {
        padding: 10px;
    }

    .main {
        background-color: #001140;
        color: white;
        margin-right: 2px;
    }

    .main_2 {
        color: rgb(10, 9, 9);
        background-color: #C6C6C6;
    }
}